.main {
    position: relative;
    width: calc(100vw - 280px);
    height: 100vh;
  }
  
  .tabs {
    background-color: #ffffff;
    height: 90px;
    border-bottom: #d0d0d0 solid 2px;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
  }
  
  .tabs button {
    float: left;
    outline: none;
    cursor: pointer;
    margin-left: 8px;
    margin-right: 8px;
    background-color: #fff;
    font-size: 24px;
    padding: 28px;
  }
  
  .tabs button:hover {
    font-weight: bold;
    background: #eee;
  }
  
  .tabs button.active {
    color: #ff5c5c;
    border-top: #ff5c5c solid 3px;
    font-weight: bold;
  }
  
  .tab-content {
    display: none;
    overflow: hidden;
    overflow-y: scroll;
    height: calc(100% - 188px);
    padding-top: 32px;
    padding-bottom: 32px;
    padding-left: 256px;
    padding-right: 256px;
  }

  /*Summary*/
  h1 {
    font-size: 36px;
    padding-top: 8px;
  }

  h2{
    font-size: 24px;
    padding-top: 8px;
    padding-bottom: 8px;
  }

  .scorecard-content{
    width: 100%;
    background-color: #fff;
    margin-bottom: 16px;
  }

  .float-container {
    width: 100%;
    height: 60px;
    padding: 0px;

    display: flex;
    align-items:center;
    justify-content:center;
  }
  
  .float-child {
    width: 50%;
    float: left;
  }

  .left-align{
    text-align: left;
  }

  .right-align{
    text-align: right;
    padding-right: 16px;
  }

  p{
    font-size: 20px;
  }

  table{
    height: 60px;
    font-size: 20px;
    width: 100%;
    table-layout: fixed;
    text-align: center;
  }

  table td , table th{
    width: 20%;
  }

  p a{
    padding-left: 16px;
    font-size: 20px;
  }


  .scorecard {
    border-collapse: collapse;
    margin-bottom: 32px;
    width: 100%;
    overflow-y: scroll;
    overflow-x: scroll;
    text-align: center;
  }
  
  .scorecard td,
  .scorecard th {
    font-size: 14px;
    border-left: #d0d0d0 solid 1px;
    border-right: #d0d0d0 solid 1px;
    width: auto;
  }
  
  .scorecard tr {
    height: 28px;
  }
  
  .scorecard tr:nth-child(odd) {
    background-color: #eee;
  }
  
.scorecard tr:nth-child(even) {
    background-color: #fff;
  }
  
  .scorecard td:first-child {
    text-align: left;
    padding-left: 16px;
    width: 25%;
  }
  
  .scorecard th {
    background-color: #ff5c5c;
    color: #fff;
  }
  
  .scorecard tr:first-child {
    border-top: #d0d0d0 solid 1px;
  }
  
  .scorecard tr:last-child {
    border-bottom: #d0d0d0 solid 1px;
  }