.main {
  position: relative;
  width: calc(100vw - 280px);
  height: 100vh;
}

.tabs {
  background-color: #ffffff;
  height: 90px;
  border-bottom: #d0d0d0 solid 2px;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

.tabs button {
  float: left;
  outline: none;
  cursor: pointer;
  margin-left: 8px;
  margin-right: 8px;
  background-color: #fff;
  font-size: 24px;
  padding: 28px;
}

.tabs button:hover {
  font-weight: bold;
  background: #eee;
}

.tabs button.active {
  color: #ff5c5c;
  border-top: #ff5c5c solid 3px;
  font-weight: bold;
}

.tab-content {
  display: none;
  overflow: hidden;
  overflow-y: scroll;
  height: calc(100% - 278px);
  padding-bottom: 32px;
}

.filters {
  height: 140px;
  border-radius: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

.filters button {
  height: 75px;
  width: 250px;
  border-radius: 10px;
  background-color: #fff;
  border: 2px solid #ff5c5c;
  color: #ff5c5c;
  cursor: pointer;
  font-size: 18px;
  margin: 10px;
  font-weight: 500;

}
  
.filters button:hover {
  color: #ffffff;
  background-color: #ff5c5c;

}

.filters button:hover i{ 
  color: #fff;
}

.filters i {
  color: #ff5c5c;
  padding: 10px;
}

.filters .order {
  height: 75px;
  width: 150px;
  background-color: #ff5c5c;
  color: white;
}

.filters .order i {
  color: white;
}

.filters input {
  background-color: #eee;
  border: rgb(85, 83, 85) solid 2px;
  height: 75px;
  width: 750px;
  padding: 16px;
  font-size: 20px;
  margin: 10px;
}

.tbl-team {
  float: left;
  height: 150px;
  position: relative;
  width: calc(50% - 96px);
  background-color: #fff;
  padding: 16px;
  margin-bottom: 32px;
  border-radius: 20px;
  overflow: scroll;
}

.align-left {
  margin-left: 64px;
}

.align-right {
  margin-left: 32px;
}

.float-child-left {
  width: 60%;
  float: left;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 118px;
  padding-left: 16px;
}

.float-child-right {
  width: 40%;
  float: left;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 118px;
}

.tab-content h2 {
  float: left;
}

.tab-content h2 .team-name {
  font-weight: bold;
  font-size: 30px;
}

.tab-content h2 .age-group {
  font-weight: 500;
  font-size: 24px;
}

.tab-content h2 .location {
  font-weight: 500;
  font-size: 24px;
}

.btn-view-team {
  height: 75px;
  width: 200px;
  border-radius: 10px;
  border: 2px solid #ff5c5c;
  color: #ff5c5c;
  background-color: white;
  cursor: pointer;
}

.btn-view-team:hover {
  color: #ffffff;
  background-color: #ff5c5c;
}
