<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://xmlns.jcp.org/xml/ns/javaee"
	xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd"
	id="WebApp_ID" version="4.0">
	<display-name>CricketDB</display-name>
	
	<welcome-file-list>
		<welcome-file>index.jsp</welcome-file>
		<welcome-file>players.jsp</welcome-file>
		<welcome-file>player-profile.jsp</welcome-file>
		<welcome-file>teams.jsp</welcome-file>
		<welcome-file>team-profile.jsp</welcome-file>
		<welcome-file>matches.jsp</welcome-file>
		<welcome-file>match-scorecard.jsp</welcome-file>
	</welcome-file-list>
	
	<servlet>
		<servlet-name>GetIndividualPlayerStats</servlet-name>
		<servlet-class>app.controller.getIndividualPlayerStats</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>GetIndividualPlayerStats</servlet-name>
		<url-pattern>/IndvidualPlayerStats</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>GetDashboard</servlet-name>
		<servlet-class>app.controller.getDashboard</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>GetDashboard</servlet-name>
		<url-pattern></url-pattern>
		<url-pattern>/Dashboard</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>GetPlayers</servlet-name>
		<servlet-class>app.controller.getPlayerStatistics</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>GetPlayers</servlet-name>
		<url-pattern>/Players</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>GetPlayerProfile</servlet-name>
		<servlet-class>app.controller.getPlayerProfile</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>GetPlayerProfile</servlet-name>
		<url-pattern>/Player-Profile</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>GetTeams</servlet-name>
		<servlet-class>app.controller.getTeams</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>GetTeams</servlet-name>
		<url-pattern>/Teams</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>GetTeamProfile</servlet-name>
		<servlet-class>app.controller.getTeamProfile</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>GetTeamProfile</servlet-name>
		<url-pattern>/Team-Profile</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>GetMatches</servlet-name>
		<servlet-class>app.controller.getMatches</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>GetMatches</servlet-name>
		<url-pattern>/Matches</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>GetMatchScorecard</servlet-name>
		<servlet-class>app.controller.getMatchScorecard</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>GetMatchScorecard</servlet-name>
		<url-pattern>/Match-Scorecard</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>GetPlayerManagement</servlet-name>
		<servlet-class>app.controller.getPlayerManagement</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>GetPlayerManagement</servlet-name>
		<url-pattern>/Player-Management</url-pattern>
	</servlet-mapping>
	
	
	<servlet>
		<servlet-name>PostCreatePlayer</servlet-name>
		<servlet-class>app.controller.postCreatePlayer</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>PostCreatePlayer</servlet-name>
		<url-pattern>/PostCreatePlayer</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>PostEditPlayer</servlet-name>
		<servlet-class>app.controller.postEditPlayer</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>PostEditPlayer</servlet-name>
		<url-pattern>/PostEditPlayer</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>PostCreateTeam</servlet-name>
		<servlet-class>app.controller.postCreateTeam</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>PostCreateTeam</servlet-name>
		<url-pattern>/PostCreateTeam</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>PostEditTeam</servlet-name>
		<servlet-class>app.controller.postEditTeam</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>PostEditTeam</servlet-name>
		<url-pattern>/PostEditTeam</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>PostAddTeamPlayers</servlet-name>
		<servlet-class>app.controller.postAddTeamPlayers</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>PostAddTeamPlayers</servlet-name>
		<url-pattern>/PostAddTeamPlayers</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>PostDeleteTeamPlayers</servlet-name>
		<servlet-class>app.controller.postDeleteTeamPlayers</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>PostDeleteTeamPlayers</servlet-name>
		<url-pattern>/PostDeleteTeamPlayers</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>GetTeamManagement</servlet-name>
		<servlet-class>app.controller.getTeamManagement</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>GetTeamManagement</servlet-name>
		<url-pattern>/Team-Management</url-pattern>
	</servlet-mapping>
</web-app>
